body {
  background-color: rgb(102, 102, 102);
}
#webpg {
  background-color: rgb(61, 61, 61);
  padding: 20px;
  height: 500px;
  width: 450px;
  display: inline-block;
  margin: 15px;
  border-radius: 35px;
}
img {
  width: 400px;
}
